body h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 40px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}